body{
    margin: 0;
    padding: 0;
}

#header1{
    height: 70px;
    background-color: #333;
}

#header1 img{
    height: 55px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}

#header1 a{
    color: white;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-left: 50px;
    margin-top: 20px;
    float: left;
}

#search{
    float: right;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 20px;
}

#imageFernando{
    height: 25%;
    width: 100%;
}