body {
  background-color: rgb(0, 0, 0);
}
h1 {
  color: yellow;
}
p {
  color: rgb(151, 151, 151);
}
table {
  border: yellow;
  border-collapse: collapse;
}
tr {
  color: rgb(151, 151, 151);
}
a {
  color: rgb(151, 151, 151);
}
img {
  border: 5px solid yellow;
}
